extends layout 

block content 
    h1 Create a new category

    .general-form
        form(action="" method="POST")

            .cat-inp.inp
                label(for="name") Category Name
                input(id='name' type="text" name="category" placeholder="category name...") 

            button Create

    
    if errors
        for err in errors
            ul 
                li(style="color: red")= err.msg
