extends layout 

block content 
    h1 Add Product to the Inventory

    .product-form
        form(action="" method="POST" enctype="multipart/form-data")

            .col1
                .prod-inp.inp
                    label(for="name") Product Name
                    input(id='name' type="text" name="product" placeholder="product name..." required)
                .cat-dropdown.inp
                    label(for="category") Category
                    select(type='select', placeholder='Select Category' name='category' required='true' id="category")
                        for cat in category
                            if cat
                                p= cat._id
                                //p= product.cat._id
                                option(value=(cat._id)) #{cat.name}
                            else
                                .alert
                                    span(class="closebtn") &times;
                                    p Please make a category first before adding a product
                .prod-img.inp
                    label(for="img") Select image 
                    input(type="file", name="image", id='img')
                .price-inp.inp
                    label(for="price") Price
                    input(id='price' type="number" name="product" placeholder="enter price..." required)
                .discount-inp.inp
                    label(for="discount") Discount
                    span This will be used in the website.
                    .discount
                        input(id='discount' type="text" name="product" placeholder="5, 10, 20..." required)
                        span %

            .col2
                .desc-inp.inp
                    label(for="description") Description
                    textarea(name="description", cols="30", rows="10" id='description' required)

                .colors-inp.inp
                    label(for="colors") Colors
                    span Enter colors sperated by a comma. Example: Red, Yellow, Blue...
                    input(id='colors' type="text" name="product" placeholder="red, yellow, green" required)

                .stock-inp.inp
                    label(for="stock") Stock
                    input(id='stock' type="text" name="product" placeholder="120, 500..." required)
                .weight-inp.inp
                    label(for="weight") Weight in kg
                    input(id='weight' type="text" name="product" placeholder="0.230" required)
                .dimensions-inp.inp
                    label(for="dimensions") Dimensions
                    span Please enter the values separated by a space in the order ( L W H)
                    input(id='dimensions' type="text" name="product" placeholder="product name..." required) 
            

            button Add
    
    if errors
        for err in errors
            ul 
                li(style="color: red")= err.msg
