extends layout

block content

  if user

    if message
      .alert
        span(class="closebtn") &times;
        p= message

    .semi-header
      a(href="/category/products/create")
        .add-prod-btn.link-btn
          p Add Product
          p(id="plus") +

      a(href="/category/new")
        .add-cat-btn.link-btn
          p(style="width: 13.5rem") Create new category
          p(id="plus") +


  else
    if message
      .alert
        span(class="closebtn") &times;
        p= message

    .login-container
      .login
        .welcome
          h1 Welcome
          h2 Please login to continue


        .login-form
          form(action="/login" method="POST")

            .username
              label(for="username") Username
              input(type="text" name="username" placeholder="username...")

            .password
              label(for="password") Password
              input(type="password" name="password" placeholder="password...")

            button Login
