extends layout

block content

  if user
    a(href="/category/products") Click here to go to the home page 
  else
    if message
      .alert
        span(class="closebtn") &times;
        p= message

    .login-container
      .login
        .welcome
          h1 Welcome
          h2 Please login to continue


        .login-form
          form(action="/login" method="POST")

            .username
              label(for="username") Username
              input(type="text" name="username" placeholder="username...")

            .password
              label(for="password") Password
              input(type="password" name="password" placeholder="password...")

            button Login
